<!-- title -->
<div class="title background-darker">
  <h1 class="text-center">Discover our cocktails</h1>
  <div class="link-style text-center">
    <i class="fas fa-plus link-style"></i>
    <%= link_to "Add a cocktail", new_cocktail_path%>
  </div>
</div>


<!-- Cards section -->
<div class="card-container">

  <%@cocktails.each do |cocktail| %>
    <div class="card " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path cocktail.photo %>);">
      <div >
        <h2><%= cocktail.name %></h2>
        <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
        </div>

    </div>

  <% end %>

</div>
