.form-container{
  margin: 10px 0;
  padding: 10px 0;
  border-top: solid 1px #efefef ;
  border-bottom: solid 1px #efefef ;
  font-size: 14px;
  text-align: center;
  input{
    background-color: rgba(250,250,250,0.3);
    text-align:center;
    color: #efefef;
    font-size: 14px;
    font-style: italic;
  }

}
.form-hidden{
  display: none;
}


